PORT = xxx
MESSAGE = xxx
NODE_ENV = development  # Or production when deployed

FRONTEND_URL = xxx

# Neon Postgres Config

PGHOST=xxx
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=xxx
PGPORT=5432
PGSSL_REJECT_UNAUTHORIZED=false
PGCONNECTIONTIMEOUT=4000



# resend
RESEND=


# Argon2
ARGON2_TYPE=argon2id
ARGON2_MEMORY_COST=65536
ARGON2_TIME_COST=3  
ARGON2_PARALLELISM=1


# Paseto

PASETO_PUBLIC_KEY_AT=k4.public.xxx
PASETO_PUBLIC_KEY_RT=k4.public.xxx
PASETO_PUBLIC_KEY_RPT=k4.public.xxx
PASETO_SECRET_KEY_AT=k4.secret.xxx
PASETO_SECRET_KEY_RT=k4.secret.xxx
PASETO_SECRET_KEY_RPT=k4.secret.xxx

# Expiration Time
AT_TTL = 60 seconds
RT_TTL = 48 hours
RPT_TTL = 180 seconds


